{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 mb-5">
  <h2>Edit Profile</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="address">Address</label>
      <input type="text" name="address" value="{{ user.address }}" class="form-control" placeholder="Address">
    </div>
    <div class="mb-3">
      <label for="phone_number">phone_number</label>
      <input type="text" name="phone_number" value="{{ user.phone_number }}" class="form-control" placeholder="Phone Number">
    </div>
    <div class="mb-3">
      <label for="gender">Gender</label>
      <input type="text" name="gender" value="{{ user.gender }}" class="form-control" placeholder="Gender">
    </div>
    <div class="mb-3">
      <label for="guardian_name">guardian_name</label>
      <input type="text" name="guardian_name" value="{{ student.guardian_name }}" class="form-control" placeholder="Guardian Name">
    </div>
    <div class="mb-3">
      <label for="guardian_contact">guardian_contact</label>
      <input type="text" name="guardian_contact" value="{{ student.guardian_contact }}" class="form-control" placeholder="Guardian Contact">
    </div>
    <div class="mb-3">
      <label for="profile_pic">Profile Picture </label>
      <input type="file" name="profile_pic" class="form-control" placeholder="Profile Picture">
    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <a href="{% url 'student_dashboard' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>

{% endblock %}
