{%block about%}
<!-- about section -->
<section class="mb-5"> 
      <div class="container ">
      <h2 class="text-center mb-5 text-success">About Us</h2>  
        <div class="col-md-12 ">
          <div class="card mb-4 bg-dark">
            <div class="card-body">
              <h3 class="card-title text-center">Our Mission</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quisquam architecto, maxime animi quasi quos totam dolor magnam quam suscipit commodi quod dolore consectetur, voluptatem officia quis doloremque voluptate neque ratione provident adipisci accusamus placeat tempore? Eaque assumenda exercitationem sequi architecto qui suscipit, quod odit eos optio voluptas soluta quibusdam neque tempore! Molestias alias aut architecto ab rerum. Aut perspiciatis consequatur quas rerum eaque! Natus sapiente voluptate sed blanditiis placeat vel accusamus omnis perspiciatis iusto dolorem? Aspernatur placeat deleniti maiores quod, maxime omnis. Dolorem, tempore sequi. Eos, ipsum molestiae doloremque expedita dolor nobis voluptatum tenetur consequatur veritatis iste quasi deleniti.
              </p>
            </div>
          </div>
        </div>
      </div>    
</section>
{%endblock%}