{%load static%}

<!-- Placements section -->
<section class="mb-5" id="placements">
  <h2 class="text-center mb-5 text-success">Placements</h2>  
  <div class="container">
    <div class="row gy-4">
      
      <!-- student 1 -->
      <div class="col-md-6 ">
        <div class="p-4 border bg-dark w-100 d-flex flex-column flex-md-row align-items-center">
          <img class="img-fluid w-50 me-3 mb-3 mb-md-0" src="../static/images/person1.com_avatar_2c7d99fe281ecd3bcd65ab915bac6dd5_s=250" alt="Computer Science">
          <div>
            <h3 class="text-white ">sajith s</h3>
            <h4>computer science</h4>
            <p>place@ wipro</p>
          </div>
        </div>
      </div>

      <!-- student 2 -->
      <div class="col-md-6 d-flex">
        <div class="p-3 border bg-dark w-100 d-flex flex-column flex-md-row align-items-center">
          <img class="img-fluid w-50 me-md-3 mb-3 mb-md-0" src="../static/images/person2.jpg" alt="Electronics">
          <div>
            <h3 class="text-white ">abijith</h3>
            <h4>Mechanical Engineering</h4>
            <p>place@ MSC</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

